* {
    box-sizing: border-box;
}

html,
body,
.root {
    width: 100%;
    height: 100%;
    overflow: none;
    
    background-color: #dee2e6;
    

    .content-side {
        width: 100%;
        height: 100%;
        
        font-family: Stylus BT;

        

        .head1 {
            width: 100%;
            height: 8%;
            background-color: #f8f9fa;
        }
        .head2 {
            width: 100%;
            height: 14%;
            background-color: #4c5c68;
            display: flex;
             justify-content: space-between;

            nav ul {
                
                margin-top: 15px;

                li {
                    display: inline-block;

                    text-decoration: none;
                    font-size: 35px;
                    margin-right: 20px;
                    align-self: center;

                    a {
                        color: #f8f9fa;
                    }
                }
            }
        }

        .elements {
            width: 100%;
            min-height: 80%;
            text-align: center;
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            form {
                width: 600px;
                height: 760px;
                border: 2px solid black;
                .left-side {
                    width: 100%;
                     text-align: center;
                }
                 input {
                     width: 100%;
                     text-align: center;
                     border-radius: 10px;
                     outline: none;
                     border: none;
                     background-color: #dee2e6;
                    
             }
             .bt {
                 width: 200px;
                 background-color: #4c5c68;
                 color: #dee2e6;
                   }
                   .bt:hover {
                       cursor: pointer;
                   }
             textarea {
                 text-align: center;
                 background-color: #dee2e6;
                 height:90%;
                 width: 90%;
             }
                .right-side 
                {
                    
                   border-left: 1px solid #343a40;
                   text-align: center;
                   font-size: 20px;
                }

                
            }

            p {
                font-size: 40px;
                color: #343a40;
            //    display: block;
            }
        }
        .footer {
            width: 100%;
            height: 20%;
            background-color: #495057;
        }
        .footer-dark {
            padding:10px 0;
            color:#f0f9ff;
            background-color:#282d32;
          }
          
          .footer-dark h3 {
            margin-top:0;
            margin-bottom:12px;
            font-weight:bold;
            font-size:16px;
          }
          
          .footer-dark ul {
            padding:0;
            list-style:none;
            line-height:1.6;
            font-size:14px;
            margin-bottom:0;
          }
          
          .footer-dark ul a {
            color:inherit;
            text-decoration:none;
            opacity:0.6;
          }
          
          .footer-dark ul a:hover {
            opacity:0.8;
          }
          
          @media (max-width:767px) {
            .footer-dark .item:not(.social) {
              text-align:center;
              padding-bottom:20px;
            }
          }
          
          .footer-dark .item.text {
            margin-bottom:36px;
          }
          
          @media (max-width:767px) {
            .footer-dark .item.text {
              margin-bottom:0;
            }
          }
          
          .footer-dark .item.text p {
            opacity:0.6;
            margin-bottom:0;
          }
          
          .footer-dark .item.social {
            text-align:center;
          }
          
          @media (max-width:991px) {
            .footer-dark .item.social {
              text-align:center;
              margin-top:20px;
            }
          }
          
          .footer-dark .item.social > a {
            font-size:20px;
            width:36px;
            height:36px;
            line-height:36px;
            display:inline-block;
            text-align:center;
            border-radius:50%;
            box-shadow:0 0 0 1px rgba(255,255,255,0.4);
            margin:0 8px;
            color:#fff;
            opacity:0.75;
          }
          
          .footer-dark .item.social > a:hover {
            opacity:0.9;
          }
          
          .footer-dark .copyright {
            text-align:center;
            padding-top:24px;
            opacity:0.3;
            font-size:13px;
            margin-bottom:0;
          }
          
    }
}
