body,
html,
.root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    .header {
        width: 100%;
        height: 20%;
    }
    .feat {
        // margin-top: 3%;
        margin-left: 15%;
        background-color: #4c5c68;
        height: 55%;
        width: 70%;
        display: inline-block;
        margin-right: 30px;
        display: flex;
        .img {
            height: 200px;
            width: 200px;
        }
        .card {
            background-color: #a8c1e1;
            margin-right: 20px;
            // flex-wrap: wrap;
            p {
                padding-left: 10px;
                font-size: 20px;
            }
        }
    }
    .footer {
        // position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20%;
        background-color: #4c5c68;
        color: #a8c1e1;
        text-align: start;
    }
    .feature {
        background-color: green;
        margin-top: 3%;
        margin-left: 40%;
        margin-bottom: 1%;
        height: 60px;
        width: 290px;
        border-radius: 25px;
        h3 {
            margin-top: 2%;
            padding-top: 10px;
            text-align: center;
        }
    }
}

* {
    box-sizing: border-box;
}

.hero {
    background: #343A40;
    height: 80px;
    width: 100%;
    font-family: sans-serif;
    position: relative;
}

nav {
    background-color: #4c5c68;
    width: 84%;
    margin: auto;
    height: 150px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: inherit;
}

nav ul li a:hover {
    color: #a8c1e1;
}

.name {
    margin-right: 38%;
    font-size: 50px;
    color: #a8c1e1;
    font-family: inherit;
}

li button {
    border-radius: 32px;
    width: 160px;
    background-color: lightblue;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    height: 100%;
    padding: 10px;
    overflow-x: hidden;
    //overflow-y: hidden;
}